@import "tailwindcss";


*{
 
    box-sizing: border-box;
}
body{
background-color: #FFFFFF;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}